.wrapper {
  color: #ffffff;
  display: flex;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;

  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.image {
  display: block;

  max-width: 200px;
}

.content {
  font-family: Roboto, sans-serif;
  width: 100%;
  padding-left: 15px;
}

.category {
  font-weight: 500;
  color: white;
}

.link {
  font-family: Roboto, sans-serif;
  text-decoration: none;

  background-color: transparent;
  color: brown;
  border: none;
  outline: none;
}

.link:hover,
.link:focus {
  color: orange;
}

.item:not(:last-child) {
  margin-right: 10px;
}

.activeLink {
  color: white;
  font-weight: 700;
}

.list {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.nav {
  width: 100%;

  text-align: center;

  padding-bottom: 16px;
  border-bottom: 1px solid black;
}
