.header {
  width: 100%;
}

.wrapper {
  width: 100%;
  position: fixed;
  z-index: 999;

  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;

  background-color: rgb(228, 245, 78);
}

.link {
  font-family: Roboto, sans-serif;
  text-decoration: none;

  background-color: transparent;
  color: rgb(241, 74, 74);

  padding: 10px;
}

.link:not(:last-child) {
  margin-right: 10px;
}

.activeLink {
  color: black;
  font-weight: 700;

  border-bottom: 5px solid black;
}
