.form {
  padding-top: 90px;
}

.input {
  padding: 5px;
  min-width: 300px;

  margin-right: 10px;

  font-family: Roboto, sans-serif;
}

.btn {
  padding: 5px;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  transition: color 250ms linear, background-color 250ms linear;
}

.btn:hover,
.btn:focus {
  background-color: rgb(240, 149, 14);
  color: white;
}
