.wrapper {
  text-align: center;
  padding-top: 60px;
}

.list {
  display: flex;
  flex-wrap: wrap;

  margin: 30px;
  padding: 0;

  list-style: none;
}

.item {
  margin: 15px;

  width: calc((100% - 150px) / 5);

  border-radius: 5px;
  box-shadow: 5px 5px 18px 1px #000000;
  overflow: hidden;

  transform: scale(1);

  transition: transform 250ms ease;
}

.item:hover,
.item:focus {
  transform: scale(1.07);
}

.image {
  display: block;
  width: 100%;
  min-height: 324px;
  object-fit: cover;
}

.link {
  text-decoration: none;
}

.title {
  margin: 0;
  padding: 5px;
  color: #000000;

  background-color: rgb(228, 245, 78);

  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: bold;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
